@using MVC_Hamburger.Models.ViewModels
@model SiparisVM

<div class="row">
    <!-- Sol tarafta menü listesi -->
    <div class="col-md-6">
        <h2>MENÜ</h2>
            <div>
                <img src="menuresmi.png" alt="Menu Resmi" style="max-width: 100px; max-height: 100px;" />
            @* @* <p>@Model.SecilenMenu.Ad - @* @Model.Boy *@ - @* @Model.SecilenMenu.Fiyat *@</p> 
            <!-- Adet eklemek için input -->
                <input type="number" class="form-control" />
            </div>
    </div>

    <!-- Sağ tarafta ekstra malzeme kategorileri -->
    <div class="col-md-6">
        <h2>EKSTRA MALZEMELER</h2>
        @foreach (Kategori category in Model.EkstraMalzemeKategori)
        {
            <div>
                <h3>@category.KategoriID</h3>
                <select class="form-control">
                    <option value="">Seçiniz</option>
                    @foreach (SiparisEkstraMalzemeVM ekstraMalzeme in Model.SiparisEkstraMalzemeler.Where(x=>x.EkstraMalzemeKategori.KategoriID==category.KategoriID))
                    {
                        <option value="@ekstraMalzeme.EkstraMalzemeId">@ekstraMalzeme.EkstraMalzemeAdi - @ekstraMalzeme.EkstraMalzemeFiyati</option>
                    }
                </select>
                <!-- Adet eklemek için input -->
                <input type="number" class="form-control" />
            </div>
        }
    </div>
</div>

<p>Toplam Fiyat: @Model.ToplamFiyat </p>