@using MVC_Hamburger.Models.Enums
@using MVC_Hamburger.Models.ViewModels
@model SiparisVM
@{
    Layout = "_AdminLayout";
}
<form asp-action="SepeteEkle" method="post" class="container" enctype="multipart/form-data">
    <div class="row">
        <!-- Sol tarafta menü listesi -->


        <div class="col-md-6">
            <h2>MENÜ</h2>
            <div>
                <img src="~/MenuResimleri/@Model.GelenMenu?.MenuResimYolu" width="100%" height="350px">

                <label asp-for="SecilenMenu.Ad" class="control-label">Seçilen Menü </label>
                <select asp-for="SecilenMenu.ID" class="form-control" asp-items="@Model.GelenMenulerSL"></select>
                <br />
                <label asp-for="GelenMenu.MenuIcerik">İçindekiler: @Model.GelenMenu?.MenuIcerik</label>
                <br />
                <label asp-for="GelenMenu.MenuFiyati">Fiyat:<b> @Model.GelenMenu?.MenuFiyati.ToString("0.##") TL</b> </label>
            </div>
            <br />
            <div class="form-group">
                <label>Menü Boyu Seçiniz:</label><br />
                @foreach (Boy boy in Enum.GetValues(typeof(Boy)))
                {
                    @if (boy == Boy.Orta)
                    {
                        <input type="radio" asp-for="SecilenBoy" value="@boy" checked /> @boy
                    }
                    else
                    {
                        <input type="radio" asp-for="SecilenBoy" value="@boy" /> @boy
                    }

                }
            </div>
            <br />
            <!-- Adet eklemek için input -->
            <label asp-for="MenuAdedi">Menü Adedi Seç</label>
            <input type="number" class="form-control" asp-for="MenuAdedi" min="1" />
        </div>
        <!-- Sağ tarafta ekstra malzeme kategorileri -->
        <div class="col-md-4">
            <h2>EKSTRA MALZEMELER</h2>
            @for (int i = 0; i < Model.EMKategoriler.Count; i++)
            {
                if (Model.SecilenEkstraMalzemeIDler == null)
                {
                    Model.SecilenEkstraMalzemeIDler = new List<int>();
                }
                Model.SecilenEkstraMalzemeIDler.Add(i);
                <div>

                    <label asp-for="@Model.EMKategoriler[i].SecilenEkstraMalzemeID">@Model.EMKategoriler[i].KategoriAdi</label>
                    <select asp-for="@Model.SecilenEkstraMalzemeIDler[i]" name="Kategoriler[@i].SecilenMalzemeId" class="form-control" asp-items="Model.EMKategoriler[i].EkstraMalzemeler">
                        <option value="">-- @Model.EMKategoriler[i].KategoriAdi --</option>

                    </select>
                </div>
            }


<p>Toplam Fiyat: @Model.ToplamFiyat </p>
        <input type="submit" value="Sepete Ekle" class="btn btn-primary" />

        </div>

    </div>
    </div>
</form>
