@model IEnumerable<MVC_Hamburger.Models.ViewModels.SepetDTO>

@{
    ViewData["Title"] = "SepetListele";
    Layout = "_Layout2";
}

<h1>SepetListele</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-hover ">
    <thead >
        <tr>

            <th>
                <p>Menü Adı</p>
                
            </th>
            <th>
                <p>Menü İçeriği</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuAdedi)
            </th>
            <th>
                <p>Menü Boyu</p>
            </th>

            <th>
                <p>Ekstra Malzemeler</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiparisFiyati)
            </th>


            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
 
                <td>
                    @Html.DisplayFor(modelItem => item.SepetMenu.Ad)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.SepetMenu.Icerik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuAdedi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiparisBoyu)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EkstraMalzemeDetay)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SiparisFiyati) TL
                </td>

                <td>
                    <a class="btn btn-danger" asp-action="SepettenSil" asp-controller="Siparis" asp-route-id="@item.SepetID">Kaldır</a>
                                      
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="SiparisGuncelle" asp-controller="Siparis" asp-route-id="@item.SepetID">Güncelle</a>
                </td>
            </tr>
        }
        <P>Toplam Fiyat:@ViewBag.ToplamFiyat TL</P>
    </tbody>
</table>

<a class="btn btn-success" asp-controller="Siparis" asp-action="SiparisOnayla">Sipariş Ver</a>


